---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import Back from '../../components/Back.astro';
import Scroll from '../../components/ScrollTop.astro';

import { getCollection } from "astro:content";

// Add prerender flag for static generation
export const prerender = true;

export async function getStaticPaths() {
  const allPosts = await getCollection("recipes");
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts = [] } = Astro.props; // Provide a default empty array for posts
---
<Layout title={tag}>
  <Back />
  <h1 data-pagefind-ignore>Posts tagged with {tag}</h1>
  <ul data-pagefind-ignore>
    {
      posts && posts.length > 0 ? posts.map((post) => (
        <li data-pagefind-ignore>
          <Card 
            slug={post.slug} 
            href={`/recipes/${post.slug}/`} 
            title={post.data.title} 
            description={post.data.description} 
            imageUrl={post.data.image.url} 
            imageAlt={post.data.image.alt}
          />
        </li>
      )) : <p>No posts found with this tag.</p>
    }
  </ul>
  <Scroll />
</Layout>

