---
import { getCollection } from "astro:content";
import { getEntryBySlug } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

let favs = ["recipe-1", "recipe-2", "recipe-3" ]
const all = await getCollection("recipes")
const specificRec = await getEntryBySlug('recipes', "recipe-1");

let entries = [];

all.map((e) => {
    entries.push(e);
})


---

<Layout title="Your Favorites">
	  <h1 data-pagefind-ignore>Your Favorites</h1>
	  <ul>
		{
		  entries.map((post) => (
		  <Card slug={post.slug} href={`/recipes/${post.slug}/`} title={post.data.title} description={post.data.description} imageUrl={post.data.image.url} imageAlt={post.data.image.alt}/>)
		  )
		}
	  </ul>
</Layout>
