---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { supabase } from '$src/utils/supabase';

const favs = [];

const fetchRecipes = async () => {
    const { data, error } = await supabase.from('favorites').select();
    if (error) {
      console.error('Error fetching recipes:', error);
    } else {
      favs.push(data)
    }
  };

---

<Layout title="Your Favorites">
	  <h1>Your Favorites</h1>
	  <ul>
		{
		  entries.map((post) => (
		  <Card slug={post.slug} href={`/recipes/${post.slug}/`} title={post.data.title} description={post.data.description} imageUrl={post.data.image.url} imageAlt={post.data.image.alt}/>)
		  )
		}
	  </ul>
</Layout>
